.ce-message-bubble {
  /* background-color: blueviolet !important; */
}
.ce-chat-card {
  margin: 10px;
}

.ce-photo-title-container {
  display: none;
}

#ce-options-drop-down {
  display: none;
}
.ce-my-message-bubble {
  margin-right: 15px;
}
.ce-chat-card.ce-active-chat-card {
  /* background-color: #bd6efb !important; */
}

#ce-chat-feed-title-Chatting {
  display: none;
}

.ce-chat-form-container {
  display: none;
}

@media screen and (max-width: 575px) {
  .ce-chat-settings-mobile-option {
    display: none !important;
  }
}
