:root {
  --violet-color: #bd6efb;
  --lightviolet-color: #be6efb86;
  --gradient-color: linear-gradient(180deg, #bd6efb 0%, #fbd46e 100%);
  --text-black-color: #000;
  --white-color: #ffffff;
  --text-lightgray-color: #999999;
  --text-grey-color: #6e6e6e;
}

.MuiContainer-root {
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border: 1px solid rgb(230, 230, 230);
}

.MuiPaper-root {
  border-bottom: 1px solid rgb(230, 230, 230);
  border-top: 1px solid rgb(230, 230, 230);
}

.Mui body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
